body {
    background: lavender;
}
.star-icon {
    font-size: 1.5rem !important;
}
.addtrackmodal > rating { 
    float: left !important;
    margin-top: -4px !important;
}
.rating { 
    float: right !important;
    margin-top: -4px !important;
}
.addtrackmodal{
    margin-top: 15px;
}